@page {
    size: A4;
    margin: 1cm;
}

@media print {
    .no-print {
        display: none;
    }
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    width: 21cm; /* A4 용지의 너비 */
    height: 29.7cm; /* A4 용지의 높이 */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    font-size: 13px;
}

p {
    margin: 10px 0;
}

.title {
    font-size: 26px; /* 제목 폰트 크기 */
    text-align: center; /* 가운데 정렬 */
    font-weight: bold; /* 굵은 글씨체 */
    margin: 10px 0; /* 상하 여백 */
}

table {
    border-collapse: collapse;
    width: 100%;

    border: 1px solid black !important; /* 테두리 두께를 1px로 설정 */
    margin:1;
    padding: 1;
}

th, td {
    border: 1px solid black !important; /* 각 셀의 테두리 설정 */
    padding: 2px;
    text-align: center;
}

/* 테두리 없는 테이블 클래스 */
.no_border {
    border: none !important;
    margin: 0;
    padding: 0;
}

.no_border td {
    border: none !important;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color:yellow;
}

/* 테두리 없는 테이블 클래스 */
.no_border2 {
    border: none !important;
    margin: 0;
    padding: 0;
}

.no_border2 td {
    border: none !important;
    text-align: left;
    margin: 0;
    padding: 0;
}



.fixed_size {
    width: 150px; /* 고정 너비 지정 */
    height: 50px; /* 고정 높이 지정 */
}

.small_size {
    width: 80px; /* 작은 너비 지정 */
}

span {
    color: red; /* 모든 span 요소를 빨간색으로 표시 */
}

.text_black {
    color: black;
}

.highlighted_text {
    background-color: honeydew;
}

.highlighted_yellow {
    background-color:yellow;
}

.highlighted_grey {
    background-color:whitesmoke;
}


.colored_colum {
    background-color: honeydew;
}

.table-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

th {
    background-color: white;
    font-weight: bold;
}

td {
    background-color: white;
}

td[rowspan="3"] {
    vertical-align: middle;
}

.right_align {
    text-align: right; /* 오른쪽 정렬 */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    height: 22px;
    margin-right: 10px;
}
.signature-image {
    position: absolute;
    top: 20px;
    left: 135px;
    width: 80px; /* 이미지 너비 조정 */
    height: auto; /* 자동 높이 */
}

.signature-container {
    position: relative;
    display: inline-block; /* 텍스트와 함께 표시되도록 인라인 블록 설정 */
}

.sign-image {
    position: absolute;
    top: 25px;
    left: 100px;
    width: 150px; /* 이미지 너비 조정 */
    height: auto; /* 자동 높이 */
    display: none;
}

