#auth-popup {
            position: fixed;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: white;
            padding: 20px;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
        }

        #success-popup {
            display:none;
            position:fixed;
            top:40%;
            left:50%;
            transform:translate(-50%, -50%);
            background:white;
            padding:20px;
            border:1px solid #ccc;
            box-shadow:0 0 10px rgba(0,0,0,0.3);
            z-index:9999;
        }