/* Contract Query CSS */
@import url('common.css');
@import url('layout.css');

/* Page-specific overrides */

/* Bottom Section */
.bottom-section {
    flex: 1;
    overflow-y: auto;
    max-height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

/* Field margin */
.field:not(:last-child) {
    margin-bottom: 10px;
}

/* Specific Field Overrides */
#employee-addr {
    flex-grow: 1;
    min-width: 100px;
    width: auto;
}

#amt-all-field,
#amt-sum-field,
#employee-addr-field {
    flex: 1 1 100%;
    min-width: 100px;
}
