body {
    display: flex;
}

.menu-container {
    display: flex;
    flex-direction: column;
}

.menu {
    width: 200px;
    min-height: 100vh;
    border-right: 1px solid #ccc;
    padding: 20px;
}

#main-menu {
    position: fixed;
    left: 0;
    top: 0;
}

#sub-menu {
    position: fixed;
    left: 220px;
    top: 0;
}

.content {
    margin-left: 440px;
    padding: 20px;
}
