body {
    font-family: Arial, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    height: 100vh; /* 뷰포트 높이에 맞게 설정 */
}

#filterContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    align-items: center;
}

.filter-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.filter-group label {
    margin-right: 0.5rem;
    font-weight: bold;
}

.filter-group input[type="text"],
.filter-group input[type="date"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 200px;
}

#buttonContainer {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: #e9ecef;
    border-bottom: 1px solid #ccc;
}

button {
    padding: 0.5rem 1.25rem; /* 버튼 사이즈 조정 */
    border: 1px solid #28a745; /* Green border */
    background-color: #28a745; /* Green background */
    color: white;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 1rem;
}

button:hover {
    background-color: #218838; /* Darker green on hover */
}

#gridContainer {
    height: calc(100% - 135px); /* 부모 컨테이너의 높이를 계산하여 설정 */
    width: 100%; /* 부모 컨테이너의 너비를 100%로 설정 */
    display: flex; /* flexbox 레이아웃 사용 */
    flex-direction: column; /* 열 방향으로 정렬 */
}

#myGrid {
    height: 100%; /* 그리드 높이를 100%로 설정하여 부모 컨테이너에 맞게 조정 */
    width: 100%; /* 그리드 너비를 100%로 설정하여 부모 컨테이너에 맞게 조정 */
    flex-grow: 1; /* 그리드가 남은 공간을 채우도록 설정 */
}

.right-aligned {
    text-align: right;
}

.ag-theme-alpine {
    font-size: 10px; /* 전체 ag-Grid 폰트 사이즈 조절 */
}

.centered {
.ag-header-cell-label
, .header-custom {
    justify-content: center !important;
    display: flex;
    align-items: center;
    text-align: center
    }
}

/* 사용자 정의 CSS 클래스 */
.header-custom {
    color: red; /* 원하는 색상으로 변경 */
    font-weight: bold; /* 필요에 따라 글꼴 굵기 추가 */
}
