.box {
    width: 1000px; /* 가로 크기 */
    height: 300px; /* 세로 크기 */
    border: 5px solid #000; /* 검은색 테두리 */
    background-color: #f8f9fa; /* 연한 회색 배경 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

/* salary_deduction.css */
body {
    font-family: Arial, sans-serif;
    color: black;
    margin: 100;
    padding: 0;
    height: 100vh; /* 뷰포트 높이에 맞게 설정 */
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "맑은 고딕", sans-serif;
}

.search-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    font-size: 13px;
    font-family: "맑은 고딕", sans-serif;
    font-weight: bold; /* 굵게 */
}

#buttonContainer {
    display: flex;
    gap: 0.5rem;

    background-color: #e9ecef;
    border-bottom: 1px solid #ccc;
}

button {
    padding: 0.2rem 1rem; /* 버튼 사이즈 조정 */
    border: 0px solid #28a745; /* Green border */
    background-color: brown; /* Green background */
    color: white;
    cursor: pointer;
    border-radius: 0.35rem;
    font-size: 13px;
    font-family: "맑은 고딕", sans-serif;
    font-weight: bold; /* 굵게 */
}

/*버튼 위에 마우스 커서가 올라갔을때 색상 변경*/
button:hover {
    background-color: #218838; /* Darker green on hover */
}

/*주민등록번호 입력 박스 둥근 모서리 적용*/
input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 8px; /* 둥근 모서리 적용 */
    outline: none;
    width: 100px; /* 입력 박스 너비 조절 */
}

.title-clean {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #333;
  text-align: left;
  /*border-bottom: 2px solid #ddd; 밑줄*/
  padding-bottom: 0px;
  margin-bottom: 10px;
  letter-spacing: -0.5px;
}

/*드롭리스트박스 설정*/
select {
    width: 550px;
    padding: 7px;
    font-size: 13px;
}