body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 13px;
}

#split-container {
    display: flex;
    height: 100vh;
    width: 100vw; /* 너비를 뷰포트 너비에 맞게 설정 */
}

#left-pane, #right-pane {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#left-top-pane, #left-bottom-pane, #right-top-pane, #right-bottom-pane {
    padding: 3px;
    overflow: auto;
    height: 100%; /* 각 섹션의 높이를 100%로 설정 */
}

#left-top-pane, #left-bottom-pane {
    background-color: #f1f1f1;
}

#right-top-pane, #right-bottom-pane {
    background-color: #f1f1f1;
}

.gutter {
    background-color: #ccc;
    transition: background-color 0.3s;
}

.gutter-horizontal {
    cursor: col-resize;
}

.gutter-vertical {
    cursor: row-resize;
}

button {
    margin: 10px;
}
