body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f9f9f9;
        }
        .container {
            width: 80%;
            max-width: 600px;
            background: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .container2{
            width: 100%;
            max-width: 1200px;
            background: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .container h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .form-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
        }


        .form-group label {
            font-size: 18px;
            flex: 1;
            text-align: left;
        }
        .form-group input {
            flex: 2;
            padding: 8px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .form-group2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
        }
        .form-group2 label {
            font-size: 18px;
            flex: 1;
            text-align: left;
        }
        .form-group2 input {
            flex: 2;
            padding: 8px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 200px !important;
        }
        .buttons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 20px;
        }
        .buttons input {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            background-color: #007BFF;
            color: white;
            cursor: pointer;
        }
        .buttons input:hover {
            background-color: #0056b3;
        }

        .buttons2 {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 0px;
        }
        .buttons2 input {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            background-color: #007BFF;
            color: white;
            cursor: pointer;
        }
        .buttons2 input:hover {
            background-color: #0056b3;
        }