<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intellics Portal</title>
    <!-- FontAwesome 아이콘을 사용하기 위한 링크 추가 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <div class="user-info">
        <!-- 아이콘에 id 부여 -->
        <i class="fas fa-user-circle user-icon" id="userIcon"></i>
        <div class="dropdown" id="userDropdown">
            <p>{{ username }}님</p>
            <p>
                <span class="label">로그인 시간:</span>
                <span class="value">{{ login_time }}</span>
            </p>
            <p>사용 시간: <span id="usageTime">0초</span></p>
            <a href="{{ url_for('loginPage.intellics') }}" id="logoutLink">
                로그아웃
            </a>

        </div>
    </div>

    <div class="menu-container">
        <div id="main-menu" class="menu main-menu">
            <div class="menu-header">
                <div class="menu-title">Intellics</div>
            </div>
            <ul class="menu-list">
                <li>
                    <a href="#" class="main-menu-item" data-menu="설정">
                        <i class="fas fa-cogs"></i>
                        <div class="menu-name">설정</div>
                    </a>
                </li>
                <li>
                    <a href="#" class="main-menu-item" data-menu="기초정보">
                        <i class="fas fa-file-alt"></i>
                        <div class="menu-name">기초정보</div>
                    </a>
                </li>
                <li>
                    <a href="#" class="main-menu-item" data-menu="연봉근로계약서">
                        <i class="fas fa-solid fa-user"></i>
                        <div class="menu-name">연봉근로<br>계약서</br></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="main-menu-item" data-menu="임직원교육">
                        <i class="fas fa-school"></i>
                        <div class="menu-name">임직원<br>교육</br></div>
                    </a>
                </li>
            </ul>
        </div>
        <div id="sub-menu" class="menu sub-menu" style="display: none;">
            <!-- 서브메뉴 내용이 JavaScript에서 동적으로 추가됩니다. -->
        </div>
    </div>
    <div class="tabs-container">
        <div class="tabs" id="tab-list"></div>
        <div id="content"></div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
