<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Web Service Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/webstatus.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/webstatus.js') }}"></script> <!-- 분리된 JS 파일 추가 -->
</head>
<body>
    <h1 style="text-align: center;">Web Service Status</h1>
    <div id="web-service-status-container"></div> <!-- 웹 서비스 상태 데이터 컨테이너 -->
</body>
</html>

